<p id="notice"><%= notice %></p>
<p>
  <strong>Productoname:</strong>
  <%= @producto.productoName %>
</p>
<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>
<table>
  <thead>
    <tr>
      <th>Parecidos</th>
      <th>Producto</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  	<% @reve = @productos.length %>
  
	<%contador = 0%>
    <% @productos.each do |producto| %>
      <tr>
      	<%if @ids[contador] == producto.id and contador <= 10%>
				<td><%= @ordenado[@reve] %></td>
		        <td><%= producto.productoName %></td>
		        <td><%= producto.descripcion %></td>
	        <%contador += 1%>
	        <%@reve -= 1%>
	   	<%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>